<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>C0523G1 - Drivin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <!-- Icon Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <style>
        .content {
            margin-left: auto;
            margin-right: auto;
        }
        small{
            font-size: 20px;
        }
    </style>
</head>
<body>
<!-- Topbar Start -->
<div class="container-fluid bg-dark text-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>280 Trần Hưng Đạo, An Hải Tây, Sơn Trà, Đà Nẵng</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Thứ 2 - Thứ 6: 08.15 AM - 05.30 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+84 12 345 6789</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center mx-n2">
                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i
                        class="fab fa-twitter"></i></a>
                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-square btn-link rounded-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a th:href="@{/success}" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">        <img src="/img/logoo.png" style="height: 75px; width: 75px" alt=""><h2 class="m-0">Đà Nẵng Drift</h2>
<!--        <h2 class="m-0"><i class="fa fa-car text-primary me-2"></i>Đà Nẵng Drift</h2>-->
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a th:href="@{/account}" class="nav-item nav-link">Tài khoản</a>
            <a th:href="@{/admin/qualification}" class="nav-item nav-link">Bằng cấp</a>
            <a th:href="@{/admin/student}" class="nav-item nav-link ">Học viên</a>
            <a th:href="@{/admin/teacher}" class="nav-item nav-link active">Giáo viên</a>
            <a th:href="@{/admin/classes}" class="nav-item nav-link ">Lớp học</a>
            <a th:href="@{/admin/contracts}" class="nav-item nav-link">Hợp đồng</a>
            <a th:href="@{/admin/assignment}" class="nav-item nav-link ">Phân công</a>
            <a th:href="@{/admin/contact-email}" class="nav-item nav-link">Phản hồi</a>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <div class="navbar-nav ms-auto text-light">
                <div class="dropdown mx-2">
                    <label for="user-container" class="text-dark"
                           data-bs-toggle="dropdown"
                           aria-expanded="false"></label>
                    <button class="btn btn-outline-light" style="border: none;"
                            id="user-container"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <i class="fas fa-user" style="color: #000000;"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/account/change-password">Đổi mật khẩu</a></li>
                        <li><a class="dropdown-item" href="/account/logout">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--BACK-->
<div class="content col-lg-8 my-6 mb-0 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: 2rem">
    <div class="bg-primary text-center p-5">
        <h1 class="mb-4">Thêm mới giảng viên</h1>
        <form th:object="${teacherDto}" method="POST" th:action="@{/admin/teacher/add}">
            <div class="row g-3">
                <!--                name-->
                <div class="col-12">
                    <div class="form-floating">
                        <input th:field="*{name}" type="text" class="form-control border-0" id="name"
                               placeholder="Tên giảng viên">
                        <small style="color:red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                        <label for="name">Tên giảng viên</label>
                    </div>
                </div>
                <!--                CMND-->
                <div class="col-12">
                    <div class="form-floating">
                        <input th:field="*{identity}" type="number" class="form-control border-0" id="identity"
                               placeholder="Học phí (đơn vị: VND)">
                        <small style="color:red;" th:if="${#fields.hasErrors('identity')}"
                               th:errors="*{identity}"></small>
                        <label for="identity">Số chứng minh nhân dân</label>
                    </div>
                </div>
                <!--                gender + birthday-->
                <div class="col-sm-6">
                    <div class="form-floating">
                        <select th:field="*{gender}" class="form-control border-0" id="gender"
                                placeholder="Ngày sinh" style="background-color: #ffffff">
                            <option th:value="0" selected>Nam</option>
                            <option th:value="1">Nữ</option>
                            <option th:value="3">Khác</option>
                        </select>
                        <small style="color:red;" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></small>
                        <label for="gender">Giới tính</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-floating">
                        <input th:field="*{birthday}" type="date" class="form-control border-0" id="birthday"
                               placeholder="Ngày sinh">
                        <small style="color:red;" th:if="${#fields.hasErrors('birthday')}"
                               th:errors="*{birthday}"></small>
                        <label for="birthday">Ngày sinh</label>
                    </div>
                </div>
                <!--                phone-->
                <div class="col-12">
                    <div class="form-floating">
                        <input th:field="*{phone}" type="number" class="form-control border-0" id="phone"
                               placeholder="Số chứng minh nhân dân">
                        <small style="color:red;" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
                        <label for="phone">Số điện thoại</label>
                    </div>
                </div>
                <!--                address-->
                <div class="col-12">
                    <div class="form-floating">
                        <input th:field="*{address}" type="text" class="form-control border-0" id="address"
                               placeholder="Địa chỉ">
                        <small style="color:red;" th:if="${#fields.hasErrors('address')}"
                               th:errors="*{address}"></small>
                        <label for="address">Địa chỉ</label>
                    </div>
                </div>
                <!--                salary-->
                <div class="col-12">
                    <div class="form-floating">
                        <input th:field="*{salary}" type="number" class="form-control border-0" id="salary"
                               placeholder="Mức lương">
                        <small style="color:red;" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></small>
                        <label for="salary">Mức lương</label>
                    </div>
                </div>
                <div class="col-6">
                    <button class="btn btn-light w-100 py-3" type="button"><a th:href="@{/admin/teacher}">Hủy
                        bỏ</a></button>
                </div>
                <div class="col-6">
                    <button class="btn btn-dark w-100 py-3" type="submit">Xác nhận</button>
                </div>
            </div>
        </form>
        <small style="color: red" th:if="${message != null}" th:text="${message}"></small>
    </div>
</div>
<div class="container-fluid bg-dark text-light footer my-6 mb-0 py-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Thông tin liên lạc</h4>
                <h2 class="text-primary mb-4"><i class="fa fa-car text-white me-2"></i>Group 2 - C0523G1</h2>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>280 Trần Hưng Đạo, An Hải Tây, Sơn Trà, Đà Nẵng
                </p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+84 12 345 6789</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>group2@gmail.com</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Liên kết</h4>
                <a class="btn btn-link" href="">Về chúng tôi</a>
                <a class="btn btn-link" href="">Liên hệ</a>
                <a class="btn btn-link" href="">Dịch vụ</a>
                <a class="btn btn-link" href="">Điều khoản và quy định</a>
                <a class="btn btn-link" href="">Hỗ trợ</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Thông tin thành viên</h4>
                <a class="btn btn-link" href="">Phan Quốc Sang</a>
                <a class="btn btn-link" href="">Nguyễn Đức Trung</a>
                <a class="btn btn-link" href="">Nguyễn Thị Mỹ Hạnh</a>
                <a class="btn btn-link" href="">Bùi Bảo Thiện</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Đăng ký để nhận thông tin mới nhất</h4>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-3 border-0" placeholder="Nhập địa chỉ email của bạn">
                        <button class="btn btn-primary">Xác nhận</button>
                    </div>
                </form>
                <h6 class="text-white mt-4 mb-3">Theo dõi chúng tôi</h6>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-light me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>
<!-- Footer End -->
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>-->
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script th:src="@{/bootstrap-5.0.2-dist/js/bootstrap.bundle.js}"
        src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
<script th:src="@{/bootstrap-5.0.2-dist/js/bootstrap.bundle.js}"
        src="../static/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
<script th:src="@{/js/main.js}"></script>
</body>



</html>