<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>C0523G1 - Drivin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <!-- Icon Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <style>
        body {
            padding: 0;
            margin: 0;
            font-family: "Work Sans", sans-serif;

        }

        table {
            position: relative;
            margin-top: 20%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-collapse: collapse;
            width: 85%;
            height: 200px;
            border: 1px solid #f5ca33;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
        }

        tr {
            transition: all .2s ease-in;
            cursor: pointer;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        #header {
            /*background-color: #f3bd01;*/
            color: #0c2b4b;
        }

        h1 {
            font-weight: 600;
            text-align: center;
            background-color: #f3bd01;
            color: #fff;
            padding: 10px 0px;
        }

        /*tr:hover {*/
        /*    background-color: #f5f5f5;*/
        /*    transform: scale(1.02);*/
        /*    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);*/
        /*}*/

        @media only screen and (max-width: 991px) {
            table {
                width: 90%;
                box-sizing: border-box;
                margin-top: 200px;
            }


            .table-title {
                position: relative;
                margin-top: 5%;
                padding-top: 5%;
            }

        }
    </style>
</head>

<body>
<!--spinner start-->
<div th:replace="index::spinner"></div>
<!--spinner end-->

<!--topbar start-->
<div th:replace="index::topbar"></div>
<!--topbar end-->

<!--navbar management start-->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a th:href="@{/}" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
<!--        <h2 class="m-0"><i class="fa fa-car text-primary me-2"></i>Đà Nẵng Drift</h2>-->
        <img src="/img/logoo.png" style="height: 75px; width: 75px" alt=""><h2 class="m-0">Đà Nẵng Drift</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a th:href="@{/account}" class="nav-item nav-link">Tài khoản</a>
            <a th:href="@{/admin/qualification}" class="nav-item nav-link">Bằng cấp</a>
            <a th:href="@{/admin/student}" class="nav-item nav-link ">Học viên</a>
            <a th:href="@{/admin/teacher}" class="nav-item nav-link active">Giáo viên</a>
            <a th:href="@{/admin/classes}" class="nav-item nav-link ">Lớp học</a>
            <a th:href="@{/contracts}" class="nav-item nav-link">Hợp đồng</a>
            <a th:href="@{/admin/assignment}" class="nav-item nav-link ">Phân công</a>
        </div>
        <a href="#" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Admin<i
                class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!--navbar management end-->

<!--content start-->
<div class="container">
    <h3 class="table-title" style="text-align: center; margin-top: 2%">Danh Sách Giảng Viên</h3>
    <nav class="navbar navbar-inverse">
        <div class=" navbar-form navbar-left mb-3">
            <a th:href="@{/admin/teacher/add}">
                <button title="Thêm mới học sinh"
                        class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </a>
        </div>
        <form th:href="@{/admin/teacher}" method="get">
            <div class="d-flex justify-content-end">
                <div class="input-group mb-6">
                    <input id="search-input1" th:value="${name}" name="name" type="search"
                           class="form-control" placeholder="Tên giảng viên"/>
                </div>
                <div class="mb-6 ml-2">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
                </div>

            </div>
        </form>
    </nav>
    <table class="table" style="margin-top: 10%">
        <thead>
        <tr id="header">
            <th>STT</th>
            <th>Tên</th>
            <th>Giới tính</th>
            <th>CMND</th>
            <th>Ngày sinh</th>
<!--            <th>Lương</th>-->
            <th>SĐT</th>
            <th>Địa chỉ</th>
            <th>Quản lý</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher,loop : ${teacherDtoPage}">
            <td th:text="${loop.count}"></td>
            <td th:text="${teacher.getName()}"></td>
            <td style="width: 5%">
                <span th:if="${teacher.getGender() == 0}">Nam</span>
                <span th:if="${teacher.getGender() == 1} ">Nữ</span>
                <span th:if="${teacher.getGender() == 2} ">LGBT</span>
            </td>
            <td th:text="${teacher.getIdentity()}"></td>
            <td th:text="${teacher.getBirthday()}" class="birthday-cell"></td>
<!--            <td th:text="${teacher.getSalary()}"></td>-->
            <td th:text="${teacher.getPhone()}"></td>
            <td th:text="${teacher.getAddress()}"></td>
            <td>
                <a th:href="@{/admin/teacher/edit/{id}(id=${teacher.getId()})}">
                    <i class="fas fa-edit fa-lg" style="color:#0C2B4B"></i>
                </a>
            </td>
            <td>
                <i type="button"
                   data-bs-toggle="modal"
                   data-bs-target="#exampleModal"
                   th:attr="onclick=|confirmDelete(${teacher.id},'${teacher.getName()}')|"
                   class="fas fa-trash-alt fa-lg" style="color:#0C2B4B"></i>
            </td>
        </tr>
        </tbody>
    </table>
    <!--    phan trang start-->
    <div th:if="${teacherDtoPage.totalPages>1}" class="col-md-12 mb-4 mt-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mb-0">
                <li th:class="${!teacherDtoPage.hasPrevious()}?'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/admin/teacher(page=0,searchName=${name})}">
                        <small>
                            <i class="fa-solid fa-backward-fast"></i>
                        </small>
                    </a>
                </li>
                <li th:class="${!teacherDtoPage.hasPrevious()}?'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/admin/teacher(page=${(teacherDtoPage.number)-1},searchName=${name})}">
                        <small>
                            <i class="fa-solid fa-backward-step"></i>
                        </small>
                    </a>
                </li>
                <li class="page-item active">
                    <a href="#" class="page-link">
                        <span th:text="${teacherDtoPage.number +1}"></span>/<span
                            th:text="${teacherDtoPage.totalPages}"></span>
                    </a>
                </li>
                <li th:class="${!teacherDtoPage.hasNext()}?'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/admin/teacher(page=${(teacherDtoPage.number)+1},searchName=${name})}">
                        <small>
                            <i class="fa-solid fa-forward-step"></i>
                        </small>
                    </a>
                </li>
                <li th:class="${!teacherDtoPage.hasNext()}?'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/admin/teacher(page=${(teacherDtoPage.totalPages)-1},searchName=${name})}">
                        <small>
                            <i class="fa-solid fa-forward-fast"></i>
                        </small>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!--    phan trang end-->
</div>
<!--content end-->

<!--modal information start-->

<!--modal information end-->

<!--modal delete start-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/admin/teacher/delete}" method="get">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Thông báo</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn muốn xóa giảng viên
                        <span id="teacherName"></span> không ???</p>
                    <input type="text" hidden="hidden" name="idDelete" id="idDelete">
                    <p style="color: red"><b>Lưu ý:</b> Hoạt động này không thể hoàn tác! </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--modal delete end-->

<!--footer start-->
<div th:replace="index::footer"></div>
<!--footer end-->

<!--copyright start-->
<div th:replace="index::copyRight"></div>
<!--copyright end-->


<script>
    function sendInfo(qualificationDescription) {
        document.getElementById("qualificationDescription").innerText = qualificationDescription;
    }

    function sendInformationForDelete(qualificationId, qualificationName) {
        document.getElementById("qualificationDeleteId").value = qualificationId;
        document.getElementById("qualificationDeleteName").innerText = qualificationName;
    }
</script>


<script>
    let birthdayCells = document.getElementsByClassName("birthday-cell");
    for (let i = 0; i < birthdayCells.length; i++) {
        let birthday = birthdayCells[i].textContent;
        let formattedBirthday = birthday.split("-").reverse().join("-");
        birthdayCells[i].textContent = formattedBirthday;
    }
</script>
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
<script th:if="${message!=null}">
    // toast
    window.onload = function () {
        let myAlert = document.getElementById('liveToast');//select id of toast
        let bsAlert = new bootstrap.Toast(myAlert);//inizialize it
        bsAlert.show();//show it
    }
</script>
<div style="align-content: center">
    <a th:if="${teacherDtoPage.hasPrevious()}" th:href="@{/admin/teacher(page=${teacherDtoPage.number - 1})}">Trước</a>
    <span th:text="${teacherDtoPage.number + 1}"></span> / <span th:text="${teacherDtoPage.totalPages}"></span>
    <a th:if="${teacherDtoPage.hasNext()}" th:href="@{/admin/teacher(page=${teacherDtoPage.number + 1})}">Sau</a>
</div>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="../lib/easing/easing.min.js"></script>
<script src="../lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../lib/isotope/isotope.pkgd.min.js"></script>
<script src="../lib/lightbox/js/lightbox.min.js"></script>
<!-- Contact Javascript File -->
<script src="../mail/jqBootstrapValidation.min.js"></script>
<script src="../mail/contact.js"></script>
<!-- Template Javascript -->
<script src="../js/main.js"></script>
<script th:src="@{/js/main.js}"></script>
<!--offline-->
<script src="../../static/mail/contact.js"></script>
<script src="../../static/mail/jqBootstrapValidation.min.js"></script>
<script src="../../static/lib/lightbox/js/lightbox.min.js"></script>
<script src="../../static/lib/isotope/isotope.pkgd.min.js"></script>
<script src="../../static/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../../static/lib/easing/easing.min.js"></script>
<script src="../../static/js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
<!--js-->
<script>
    //delete modal
    function confirmDelete(id, name) {
        document.getElementById("teacherName").innerText = name;
        document.getElementById("idDelete").value = id;
    }
</script>
</body>
</html>
