<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>C0523G1 - Drivin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>


    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/table.css">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <!-- Icon Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <style>
        body {
            padding: 0;
            margin: 0;
            font-family: "Work Sans", sans-serif;

        }

        table {
            position: relative;
            margin-top: 10%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-collapse: collapse;
            width: 85%;
            height: 200px;
            border: 1px solid #f5ca33;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
        }

        tr {
            transition: all .2s ease-in;
            cursor: pointer;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        #header {
            /*background-color: #f3bd01;*/
            color: #0c2b4b;
        }

        h1 {
            font-weight: 600;
            text-align: center;
            background-color: #f3bd01;
            color: #fff;
            padding: 10px 0px;
        }

        /*tr:hover {*/
        /*    background-color: #f5f5f5;*/
        /*    transform: scale(1.02);*/
        /*    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);*/
        /*}*/

        @media only screen and (max-width: 991px) {
            table {
                width: 90%;
                box-sizing: border-box;
                margin-top: 200px;
            }


            .table-title {
                position: relative;
                margin-top: 5%;
                padding-top: 5%;
            }

        }
    </style>
</head>
<body>
<!--spinner start-->
<div th:replace="index::spinner"></div>
<!--spinner end-->

<!--topbar start-->
<div th:replace="index::topbar"></div>
<!--topbar end-->

<!--navbar management start-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a th:href="@{/account/success}" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
        <!--        <h2 class="m-0"><i class="fa fa-car text-primary me-2"></i>Đà Nẵng Drift</h2>-->
        <img src="/img/logoo.png" style="height: 75px; width: 75px" alt="">
        <h2 class="m-0">Đà Nẵng Drift</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a th:href="@{/account}" class="nav-item nav-link">Tài khoản</a>
            <a th:href="@{/admin/qualification}" class="nav-item nav-link ">Bằng cấp</a>
            <a th:href="@{/admin/student}" class="nav-item nav-link">Học viên</a>
            <a th:href="@{/admin/teacher}" class="nav-item nav-link">Giáo viên</a>
            <a th:href="@{/admin/classes}" class="nav-item nav-link">Lớp học</a>
            <a th:href="@{/admin/contracts}" class="nav-item nav-link">Hợp đồng</a>
            <a th:href="@{/admin/assignment}" class="nav-item nav-link active">Phân công</a>
        </div>
        <div th:fragment="log-in-nav" class="collapse navbar-collapse justify-content-end">
            <div class="navbar-nav ms-auto text-light">
                <div class="dropdown mx-2">
                    <label for="user-container" class="text-dark"
                           data-bs-toggle="dropdown"
                           aria-expanded="false"></label>
                    <button class="btn btn-outline-light" style="border: none;"
                            id="user-container"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <i class="fas fa-user" style="color: #000000;"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/account/change-password">Đổi mật khẩu</a></li>
                        <li><a class="dropdown-item" href="/account/logout">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--navbar management end-->

<!--content start-->
<div class="container">
    <h3 class="table-title" style="text-align: center; margin-top: 2%">Danh Sách Phân Công Đào Tạo</h3>
    <h4 th:if="${assignments.isEmpty()}">Hiện tại chưa có phân công nào</h4>
    <h5 th:if="${addSuccess != null}" th:text="${addSuccess}"></h5>
    <nav class="navbar navbar-inverse">
        <div class="navbar-form navbar-left mb-3">
            <a th:href="@{/admin/assignment/add}"><i class="fa-solid fa-square-plus fa-2xl"></i></a>
        </div>
        <form th:action="@{/admin/assignment}" method="get">
            <div class="d-flex justify-content-end">
                <div class="input-group mb-6">
                    <input type="search" th:value="${searchName}" name="searchName"
                           class="form-control" placeholder="Tìm kiếm"
                           style="width: 33%;">
                </div>
                <div class="mb-6 ml-2">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </nav>
    <table class="table">
        <thead>
        <tr id="header">
            <th>STT</th>
            <th>Lớp</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Giáo viên</th>
            <th colspan="2" style="text-align: center">Quản lý</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assignment, loop: ${assignments}">
            <td th:text="${loop.count}" style="width: 15%"></td>
            <td th:text="${assignment.getClasses().getClassName()}" style="width: 15%"></td>
            <td th:text="${assignment.getClasses().getStartDate()}" class="birthday-cell" style="width: 15%"></td>
            <td th:text="${assignment.getClasses().getEndDate()}" class="birthday-cell" style="width: 15%"></td>
            <td th:text="${assignment.getTeacher().getName()}" style="width: 15%"></td>
            <td style="width: 7%">
                <a th:href="@{/admin/assignment/edit/__${assignment.getId()}__}">
                    <i class="fas fa-edit fa-lg" style="color:#0C2B4B"></i>
                </a>
            </td>
            <td style="width: 7%">
                <i class="fas fa-trash-alt fa-lg" style="color:#0C2B4B"
                   th:attr="onclick=|sendInformationForDelete('${assignment.getId()}','${assignment.getClasses().getClassName()}',
                   '${assignment.getClasses().getStartDate()}', '${assignment.getClasses().getEndDate()}')|"
                   type="button" data-bs-toggle="modal"
                   data-bs-target="#deleteModal"></i>
            </td>
        </tr>
        </tbody>
    </table>
    <!--    phan trang start-->
    <div th:if="${assignments.totalPages>1}" class="col-md-12 mb-4 mt-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mb-0">
                <li th:class="${!assignments.hasPrevious()}?'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/admin/qualification(page=${assignments.number - 1} ,searchName = ${searchName})}">
                        <small>
                            <i class="fa-solid fa-backward-fast"></i>
                        </small>
                    </a>
                </li>
                <li th:class="${!assignments.hasPrevious()}?'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/admin/qualification(page=${(assignments.number) - 1} ,searchName = ${searchName})}">
                        <small>
                            <i class="fa-solid fa-backward-step"></i>
                        </small>
                    </a>
                </li>
                <li class="page-item active">
                    <a href="#" class="page-link">
                        <span th:text="${assignments.number +1}"></span>/<span
                            th:text="${assignments.totalPages}"></span>
                    </a>
                </li>
                <li th:class="${!assignments.hasNext()}?'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/admin/assignment(page=${assignments.number+1},searchName=${searchName})}">
                        <small>
                            <i class="fa-solid fa-forward-step"></i>
                        </small>
                    </a>
                </li>
                <li th:class="${!assignments.hasNext()}?'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/admin/qualification(page=${(assignments.totalPages)-1},searchName=${searchName})}">
                        <small>
                            <i class="fa-solid fa-forward-fast"></i>
                        </small>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!--    phan trang end-->
</div>
<!--content end-->

<!--modal information start-->

<!--modal information end-->

<!--modal delete start-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/admin/assignment/delete}" method="get">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"><b>Xóa dữ liệu bằng lái xe</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn hủy phân công:
                    <p><strong>Lớp: <span id="name"></span></strong></p>
                    <p><strong>Ngày bắt đầu: <span id="start"></span></strong></p>
                    <p><strong>Ngày kết thúc: <span id="end"></span></strong></p>
                    </p>
                    <input type="text" hidden="hidden" name="id" id="id">
                    <p style="color: red"><b>Lưu ý:</b> Hoạt động này không thể hoàn tác! </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--modal delete end-->

<!--footer start-->
<div th:replace="index::footer"></div>
<!--footer end-->

<!--copyright start-->
<div th:replace="index::copyRight"></div>
<!--copyright end-->


<script>
    function sendInformationForDelete(id, name, start, end) {
        document.getElementById("id").value = id;
        document.getElementById("name").innerText = name;
        document.getElementById("start").innerText = start;
        document.getElementById("end").innerText = end;
    }
</script>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script>
    let birthdayCells = document.getElementsByClassName("birthday-cell");
    for (let i = 0; i < birthdayCells.length; i++) {
        let birthday = birthdayCells[i].textContent;
        let formattedBirthday = birthday.split("-").reverse().join("-");
        birthdayCells[i].textContent = formattedBirthday;
    }
</script>
</body>
</html>
