<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <title>C0523G1 - Drivin</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="css/style.css" rel="stylesheet">
  <style>
    .my-table {
      color: #0c2b4b;
      width: 70%;
      height: auto;
      text-align: center;
      margin: auto;
      border: 1px solid #0c2b4b;
      border-radius: 15px;
    }
    .submit-btn {
      background-color: #f3bd00;
      color: #fff;
      border: none;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    h3 {
      text-align: center;
    }
  </style>
</head>
<body>
<!--Spinner start-->
<div class="spinner" th:replace="index::spinner"></div>
<!--Spinner end-->

<!--Topbar start-->
<div th:replace="index::topbar" class="topbar"></div>
<!--Topbar end-->

<!--Navbar start-->
<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
  <a th:href="@{/}" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
    <h2 class="m-0"><i class="fa fa-car text-primary me-2"></i>Đà Nẵng Drift</h2>
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a href="#" class="nav-item nav-link active">Trang chủ</a>
      <a th:href="@{/feature}" class="nav-item nav-link">Khóa học</a>
      <a th:href="@{/about}" class="nav-item nav-link">Về chúng tôi</a>
      <a th:href="@{/contact}" class="nav-item nav-link">Liên hệ</a>
    </div>
    <a href="#" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Admin<i
            class="fa fa-arrow-right ms-3"></i></a>
  </div>
</nav>
<!--Navbar end-->

<!--Add form start-->
<!--Form start-->
<div class="container">
  <h3>Trung tâm dạy lái share Đà Nẵng Drift</h3>
  <table class="my-table mt-3 mb-3">
    <form action="#">
      <thead>
      <tr>
        <th><label for="name">Tên bằng lái</label></th>
      </tr>
      <tr>
        <td><input type="text" id="name"></td>
      </tr>
      <tr>
        <th><label for="fee">Học phí</label></th>
      </tr>
      <tr>
        <td><input type="number" id="fee"></td>
      </tr>
      <tr>
        <th><label for="description">Mô tả sơ lược về hạng bằng này:</label></th>
      </tr>
      <tr>
        <td><textarea id="description"/></td>
      </tr>
      <tr>
        <td  align="center"><button class="submit-btn">Xác nhận</button></td>
      </tr>
      </thead>
    </form>
  </table>
</div>
<!--Form end-->
<!--Add form end-->

<!--Footer start-->
<div th:replace="index::footer" class="footer"></div>
<!--Footer end-->

<!--Copyright start-->
<div th:replace="index::copyRight" class="copyright"></div>
<!--Copyright end-->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>
</html>