<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../static/table.css">

</head>
<body>
<table>
  <tr id="header">
    <th>Name</th>
    <th>Name</th>
    <th>Name</th>
    <th>Name</th>
    <th>Name</th>
  </tr>
  <tr>
    <td>Abc</td>
    <td>Abc</td>
    <td>Abc</td>
    <td>Abc</td>
    <td>Abc</td>
  </tr>
  <tr>
    <td>Abc</td>
    <td>Abc</td>
    <td>Abc</td>
    <td>Abc</td>
    <td>Abc</td>
  </tr>
  <tr>
    <td>Abc</td>
    <td>Abc</td>
    <td>Abc</td>
    <td>Abc</td>
    <td>Abc</td>
  </tr>
</table>
</body>
</html>