<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>C0523G1 - Contract</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <!-- Icon Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <style>
        body {
            padding: 0;
            margin: 0;
            font-family: "Work Sans", sans-serif;

        }

        table {
            position: relative;
            margin-top: 10%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-collapse: collapse;
            width: 85%;
            height: 200px;
            border: 1px solid #f5ca33;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
        }

        tr {
            transition: all .2s ease-in;
            cursor: pointer;
        }

        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        #header {
            /*background-color: #f3bd01;*/
            color: #0c2b4b;
        }

        h1 {
            font-weight: 600;
            text-align: center;
            background-color: #f3bd01;
            color: #fff;
            padding: 10px 0px;
        }

        /*tr:hover {*/
        /*    background-color: #f5f5f5;*/
        /*    transform: scale(1.02);*/
        /*    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);*/
        /*}*/

        @media only screen and (max-width: 991px) {
            table {
                width: 90%;
                box-sizing: border-box;
                margin-top: 200px;
            }


            .table-title {
                position: relative;
                margin-top: 5%;
                padding-top: 5%;
            }

        }
    </style>
</head>
<!--<body>-->
<!--&lt;!&ndash; Topbar Start &ndash;&gt;-->
<!--<div class="container-fluid bg-dark text-light p-0">-->
<!--    <div class="row gx-0 d-none d-lg-flex">-->
<!--        <div class="col-lg-7 px-5 text-start">-->
<!--            <div class="h-100 d-inline-flex align-items-center me-4">-->
<!--                <small class="fa fa-map-marker-alt text-primary me-2"></small>-->
<!--                <small>280 Trần Hưng Đạo, An Hải Tây, Sơn Trà, Đà Nẵng</small>-->
<!--            </div>-->
<!--            <div class="h-100 d-inline-flex align-items-center">-->
<!--                <small class="far fa-clock text-primary me-2"></small>-->
<!--                <small>Thứ 2 - Thứ 6: 08.15 AM - 05.30 PM</small>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-lg-5 px-5 text-end">-->
<!--            <div class="h-100 d-inline-flex align-items-center me-4">-->
<!--                <small class="fa fa-phone-alt text-primary me-2"></small>-->
<!--                <small>+84 12 345 6789</small>-->
<!--            </div>-->
<!--            <div class="h-100 d-inline-flex align-items-center mx-n2">-->
<!--                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i-->
<!--                        class="fab fa-facebook-f"></i></a>-->
<!--                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i-->
<!--                        class="fab fa-twitter"></i></a>-->
<!--                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i-->
<!--                        class="fab fa-linkedin-in"></i></a>-->
<!--                <a class="btn btn-square btn-link rounded-0" href=""><i class="fab fa-instagram"></i></a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; Topbar End &ndash;&gt;-->

<!--&lt;!&ndash; Navbar Start &ndash;&gt;-->
<!--<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">-->
<!--    <a th:href="@{/}" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">-->
<!--        <h2 class="m-0"><i class="fa fa-car text-primary me-2"></i>Group 2 - C0523G1</h2>-->
<!--    </a>-->
<!--    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--        <div class="navbar-nav ms-auto p-4 p-lg-0">-->
<!--            <a th:href="@{/}" class="nav-item nav-link active">Trang chủ</a>-->
<!--            <a href="/feature" class="nav-item nav-link">Khóa học</a>-->
<!--            <a href="/about" class="nav-item nav-link">Về chúng tôi</a>-->
<!--            <a href="/contact" class="nav-item nav-link">Liên hệ</a>-->
<!--        </div>-->
<!--        <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Đăng nhập<i-->
<!--                class="fa fa-arrow-right ms-3"></i></a>-->
<!--    </div>-->
<!--</nav>-->
<!--&lt;!&ndash; Navbar End &ndash;&gt;-->

<!--<div class="container" style="min-height: 550px;margin-top: 30px">-->
<!--    <h1 style=" margin-top: 30px" align="center">Danh Sách Hợp Đồng</h1>-->
<!--    <nav class="navbar navbar-inverse">-->
<!--        <div class=" navbar-form navbar-left mb-3">-->
<!--            <a th:href="@{/contracts/create}">-->
<!--                <button title="Thêm mới hợp đồng"-->
<!--                        class="btn btn-primary">-->
<!--                    <i class="fa-solid fa-plus"></i>-->
<!--                </button>-->
<!--            </a>-->
<!--        </div>-->
<!--        <form action="/contracts" method="get">-->
<!--            <div class="d-flex justify-content-end">-->
<!--                <div class="input-group mb-6">-->
<!--                    <input id="search-input1" th:value="${nameSearch}" name="nameSearch" type="text"-->
<!--                           class="form-control" placeholder="Tên hợp đồng"/>-->
<!--                </div>-->
<!--                <div class="mb-6 ml-2">-->
<!--                    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </nav>-->
<!--    <table class="table table-hover">-->
<!--        <tr>-->
<!--            <th>STT</th>-->
<!--            <th>Tên học viên</th>-->
<!--            <th>Bằng cấp</th>-->
<!--            <th>Ngày làm hợp đồng</th>-->
<!--            <th>Phí hợp đồng</th>-->
<!--            <th>Trạng thái</th>-->
<!--        </tr>-->
<!--        <tr th:each="contract, status :${contractDtoPage}">-->
<!--            <td hidden="hidden" style="width: 10%" th:text="${contract.id}"></td>-->
<!--            <td style="width: 5%" th:text="${status.count}"></td>-->
<!--            <td style="width: 15%" th:text="${contract.student.name}"></td>-->
<!--            <td style="width: 15%" th:text="${contract.qualification.name}"></td>-->
<!--            <td style="width: 15%" th:text="${contract.date}"></td>-->
<!--&lt;!&ndash;            <td style="width: 15%" th:text="${contract.qualification.fee + (contract.qualification.fee * 0.02)}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;            <td hidden="hidden" style="width: 15%" th:text="${contract.isDeleted}"></td>&ndash;&gt;-->
<!--            <td style="width: 15%"-->
<!--                th:text="${#numbers.formatDecimal(contract.qualification.fee * 1.02 , 0, 'COMMA', 0, 'POINT')}"></td>-->
<!--&lt;!&ndash;            <td style="width: 12%">&ndash;&gt;-->
<!--            <td style="width: 7%">-->
<!--                <span th:if="${contract.isDeleted == 0}">Đã thanh toán</span>-->
<!--                <span th:if="${contract.isDeleted == 1} ">Chưa thanh toán</span>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->

<!--    <div th:if="${contractDtoPage.totalPages>1}" class="col-md-12 mb-4 mt-3">-->
<!--        <nav aria-label="Page navigation example">-->
<!--            <ul class="pagination justify-content-center mb-0">-->
<!--                <li th:class="${!contractDtoPage.hasPrevious()}?'page-item disabled' : 'page-item'">-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{/contract(page=0,studentName=${nameSearch})}">-->
<!--                        <small>-->
<!--                            <i class="fa-solid fa-backward-fast"></i>-->
<!--                        </small>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li th:class="${!contractDtoPage.hasPrevious()}?'page-item disabled' : 'page-item'">-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{contract(page=${(contractDtoPage.number)-1},studentName=${nameSearch})}">-->
<!--                        <small>-->
<!--                            <i class="fa-solid fa-backward-step"></i>-->
<!--                        </small>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="page-item active">-->
<!--                    <a href="#" class="page-link">-->
<!--                        <span th:text="${contractDtoPage.number +1}"></span>/<span-->
<!--                            th:text="${contractDtoPage.totalPages}"></span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li th:class="${!contractDtoPage.hasNext()}?'page-item disabled' : 'page-item'">-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{contract(page=${contractDtoPage.number+1},studentName=${nameSearch})}">-->
<!--                        <small>-->
<!--                            <i class="fa-solid fa-forward-step"></i>-->
<!--                        </small>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li th:class="${!contractDtoPage.hasNext()}?'page-item disabled' : 'page-item'">-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{contract(page=${(contractDtoPage.totalPages)-1},studentName=${nameSearch})}">-->
<!--                        <small>-->
<!--                            <i class="fa-solid fa-forward-fast"></i>-->
<!--                        </small>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash; Footer Start &ndash;&gt;-->
<!--<div class="container-fluid bg-dark text-light footer my-6 mb-0 py-6 wow fadeIn" data-wow-delay="0.1s">-->
<!--    <div class="container">-->
<!--        <div class="row g-5">-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--                <h4 class="text-white mb-4">Thông tin liên lạc</h4>-->
<!--                <h2 class="text-primary mb-4"><i class="fa fa-car text-white me-2"></i>Group 2 - C0523G1</h2>-->
<!--                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>280 Trần Hưng Đạo, An Hải Tây, Sơn Trà, Đà Nẵng-->
<!--                </p>-->
<!--                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+84 12 345 6789</p>-->
<!--                <p class="mb-2"><i class="fa fa-envelope me-3"></i>group2@gmail.com</p>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--                <h4 class="text-light mb-4">Liên kết</h4>-->
<!--                <a class="btn btn-link" href="">Về chúng tôi</a>-->
<!--                <a class="btn btn-link" href="">Liên hệ</a>-->
<!--                <a class="btn btn-link" href="">Dịch vụ</a>-->
<!--                <a class="btn btn-link" href="">Điều khoản và quy định</a>-->
<!--                <a class="btn btn-link" href="">Hỗ trợ</a>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--                <h4 class="text-light mb-4">Thông tin thành viên</h4>-->
<!--                <a class="btn btn-link" href="">Phan Quốc Sang</a>-->
<!--                <a class="btn btn-link" href="">Nguyễn Đức Trung</a>-->
<!--                <a class="btn btn-link" href="">Nguyễn Thị Mỹ Hạnh</a>-->
<!--                <a class="btn btn-link" href="">Bùi Bảo Thiện</a>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--                <h4 class="text-light mb-4">Đăng ký để nhận thông tin mới nhất</h4>-->
<!--                <form action="">-->
<!--                    <div class="input-group">-->
<!--                        <input type="text" class="form-control p-3 border-0" placeholder="Nhập địa chỉ email của bạn">-->
<!--                        <button class="btn btn-primary">Xác nhận</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--                <h6 class="text-white mt-4 mb-3">Theo dõi chúng tôi</h6>-->
<!--                <div class="d-flex pt-2">-->
<!--                    <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-twitter"></i></a>-->
<!--                    <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-facebook-f"></i></a>-->
<!--                    <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-youtube"></i></a>-->
<!--                    <a class="btn btn-square btn-outline-light me-0" href=""><i class="fab fa-linkedin-in"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; Footer End &ndash;&gt;-->

<!--&lt;!&ndash; Copyright Start &ndash;&gt;-->
<!--<div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">-->
<!--                &copy; <a href="#">Group 2 - C0523G1</a>, All Right Reserved.-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; Copyright End &ndash;&gt;-->

<!--<script th:if="${mess!=null}">-->
<!--    // toast-->
<!--    window.onload = function () {-->
<!--        let myAlert = document.getElementById('liveToast');//select id of toast-->
<!--        let bsAlert = new bootstrap.Toast(myAlert);//inizialize it-->
<!--        bsAlert.show();//show it-->
<!--    }-->


<!--</script>-->

<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>-->
<!--<script src="/lib/easing/easing.min.js"></script>-->

<!--<script src="/lib/owlcarousel/owl.carousel.min.js"></script>-->

<!--<script src="/lib/isotope/isotope.pkgd.min.js"></script>-->

<!--<script src="/lib/lightbox/js/lightbox.min.js"></script>-->


<!--&lt;!&ndash; Contact Javascript File &ndash;&gt;-->
<!--<script src="/../mail/jqBootstrapValidation.min.js"></script>-->
<!--<script src="/../mail/contact.js"></script>-->

<!--&lt;!&ndash; Template Javascript&ndash;&gt;-->
<!--<script src="../js/main.js"></script>-->
<!--&lt;!&ndash;offline&ndash;&gt;-->
<!--<script src="/mail/contact.js"></script>-->
<!--<script src="/mail/jqBootstrapValidation.min.js"></script>-->
<!--<script src="/lib/lightbox/js/lightbox.min.js"></script>-->
<!--<script src="/lib/isotope/isotope.pkgd.min.js"></script>-->
<!--<script src="/lib/owlcarousel/owl.carousel.min.js"></script>-->
<!--<script src="/lib/easing/easing.min.js"></script>-->
<!--<script src="/js/main.js"></script>-->

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>-->
<!--<script th:src="@{/bootstrap-5.0.2-dist/js/bootstrap.bundle.js}"-->
<!--        src="../static/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>-->
<!--<script th:src="@{/js/main.js}"></script>-->
<!--</body>-->
<!--</html>-->

<body>
<!--spinner start-->
<div th:replace="index::spinner"></div>
<!--spinner end-->

<!--topbar start-->
<div th:replace="index::topbar"></div>
<!--topbar end-->

<!--navbar management start-->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">

    <a th:href="@{/success}" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
<!--        <h2 class="m-0"><i class="fa fa-car text-primary me-2"></i>Đà Nẵng Drift</h2>-->
        <img src="/img/logoo.png" style="height: 75px; width: 75px" alt="">
        <h2 class="m-0">Đà Nẵng Drift</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a th:href="@{/account}" class="nav-item nav-link">Tài khoản</a>
            <a th:href="@{/admin/qualification}" class="nav-item nav-link">Bằng cấp</a>
            <a th:href="@{/admin/student}" class="nav-item nav-link ">Học viên</a>
            <a th:href="@{/admin/teacher}" class="nav-item nav-link">Giáo viên</a>
            <a th:href="@{/admin/classes}" class="nav-item nav-link">Lớp học</a>
            <a th:href="@{/admin/contracts}" class="nav-item nav-link active">Hợp đồng</a>
            <a th:href="@{/admin/assignment}" class="nav-item nav-link ">Phân công</a>
        </div>
<!--        <a href="#" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Admin<i-->
<!--                class="fa fa-arrow-right ms-3"></i></a>-->
    </div>
    <div class="collapse navbar-collapse justify-content-end">
        <div class="navbar-nav ms-auto text-light">
            <div class="dropdown mx-2">
                <label for="user-container" class="text-dark"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"></label>
                <button class="btn btn-outline-light" style="border: none;"
                        id="user-container"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="fas fa-user" style="color: #000000;"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/account/change-password">Đổi mật khẩu</a></li>
                    <li><a class="dropdown-item" href="/account/logout">Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!--navbar management end-->

<!--content start-->
<div class="container">
    <h3 class="table-title" style="text-align: center; margin-top: 2%">Danh Sách Hợp Đồng</h3>
    <nav class="navbar navbar-inverse">
        <div class="navbar-form navbar-left mb-3">
            <a th:href="@{/admin/create}"><i class="fa-solid fa-square-plus fa-2xl"></i></a>
        </div>
        <form action="#" method="get">
            <div class="d-flex justify-content-end">
                <div class="input-group mb-6">
                    <input type="search" th:value="${nameSearch}" name="nameSearch"
                           class="form-control" placeholder="Nhập thông tin "
                           style="width: 33%;" id="search-input1">
                </div>
                <div class="mb-6 ml-2">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </nav>
    <table class="table" th:if="${!contractDtoPage.isEmpty()}">
        <thead>
        <tr id="header">
            <th>STT</th>
            <th>Tên học viên</th>
            <th>Bằng cấp</th>
            <th>Ngày làm hợp đồng</th>
            <th>Phí hợp đồng</th>
            <th>Trạng thái</th>
<!--            <th colspan="2" style="text-align: center">Quản lý</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract, loop : ${contractDtoPage}">
            <th style="width: 5%" th:text="${loop.count}"></th>
            <td style="width: 15%" th:text="${contract.student.name}"></td>
            <td style="width: 9%;" th:text="${contract.qualification.name}"></td>
            <td style="width: 9%;" th:text="${contract.date}"></td>
            <td style="width: 9%;" th:text="${#numbers.formatDecimal(contract.qualification.fee * 1.02 , 0, 'COMMA', 0, 'POINT')}"></td>
            <td style="width: 7%">
                <span th:if="${contract.isDeleted == 0}">Đã thanh toán</span>
                <span th:if="${contract.isDeleted == 1} ">Chưa thanh toán</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
    <!--    phan trang start-->

    <div th:if="${contractDtoPage.totalPages>1}" class="col-md-12 mb-4 mt-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mb-0">
                <li th:class="${!contractDtoPage.hasPrevious()}?'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/contracts(page=0,studentName=${nameSearch})}">
                        <small>
                            <i class="fa-solid fa-backward-fast"></i>
                        </small>
                    </a>
                </li>
                <li th:class="${!contractDtoPage.hasPrevious()}?'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{contracts(page=${(contractDtoPage.number)-1},studentName=${nameSearch})}">
                        <small>
                            <i class="fa-solid fa-backward-step"></i>
                        </small>
                    </a>
                </li>
                <li class="page-item active">
                    <a href="#" class="page-link">
                        <span th:text="${contractDtoPage.number +1}"></span>/<span
                            th:text="${contractDtoPage.totalPages}"></span>
                    </a>
                </li>
                <li th:class="${!contractDtoPage.hasNext()}?'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{contracts(page=${contractDtoPage.number+1},studentName=${nameSearch})}">
                        <small>
                            <i class="fa-solid fa-forward-step"></i>
                        </small>
                    </a>
                </li>
                <li th:class="${!contractDtoPage.hasNext()}?'page-item disabled' : 'page-item'">
                    <a class="page-link"
                       th:href="@{contracts(page=${(contractDtoPage.totalPages)-1},studentName=${nameSearch})}">
                        <small>
                            <i class="fa-solid fa-forward-fast"></i>
                        </small>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!--    phan trang end-->
<!--content end-->



<!--footer start-->
<div th:replace="index::footer"></div>
<!--footer end-->

<!--copyright start-->
<div th:replace="index::copyRight"></div>
<!--copyright end-->


<script th:if="${mess!=null}">
    // toast
    window.onload = function () {
        let myAlert = document.getElementById('liveToast');//select id of toast
        let bsAlert = new bootstrap.Toast(myAlert);//inizialize it
        bsAlert.show();//show it
    }


</script>
<script th:src="@{/js/main.js}"></script>
<script>
    function confirmDelete(id, name) {
        document.getElementById("usernameDelete").innerText = name;
        document.getElementById("id").value = id;
    }
</script>

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>

<script src="/lib/owlcarousel/owl.carousel.min.js"></script>

<script src="/lib/isotope/isotope.pkgd.min.js"></script>

<script src="/lib/lightbox/js/lightbox.min.js"></script>

<!--contact js-->
<script src="../mail/jqBootstrapValidation.min.js"></script>
<script src="../mail/contact.js"></script>

<!-- Template Javascript-->
<script src="../js/main.js"></script>
<!--offline-->
<script src="/mail/contact.js"></script>
<script src="/mail/jqBootstrapValidation.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>
<script src="/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/js/main.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

<script th:src="@{/js/main.js}"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>
</html>
